.header{
	margin-left:10px
}
.product-thumb-slider .product_thumb_hl_rect .product_thumb_hl_flag{
	top:-26px
}
.header .header-nav li{
	margin-top:20px
}
.product-image {
	margin-left: 10px
}
.product-image-next {
	margin-left: 10px
}

.content-container {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#bfbfbf',Direction=90,Strength=10) progid:DXImageTransform.Microsoft.Shadow(color='#bfbfbf',Direction=270,Strength=10)
}