/*
 ################################################################
 # Main LESS-File includes and manage LESS-Imports
 ################################################################
 */

/* config Less with global variables */
@import "core/config.less";

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:62.5%;
}

.content-container {
	width: 970px;
	height: 100%;
	background-color: @whiteColor;
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow: 0 0 10px 10px #bfbfbf;
	-webkit-box-shadow: 0 0 10px 10px #bfbfbf;
	box-shadow: 0 0 10px 10px #bfbfbf;
	
	/* For IE 7&8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#bfbfbf', Direction=90, Strength=10) progid:DXImageTransform.Microsoft.Shadow(color='#bfbfbf', Direction=270, Strength=10);
}

/* Less for overall components */
@import "core/header.less";
@import "core/footer.less";

/* Less for product slider- and range-container */
@import "home/productSlider.less";
@import "home/productRange.less";