/*
################################################################
# Config LESS-File defines overall colors, spacings 
################################################################
*/

@redColor: #cb012a;
@lightRedColor: #ea99aa;
@whiteColor: #ffffff;
@lightGreyColor: #e2e2e2;
@darkGreyColor: #3e3e3e;
@darkGreyFontColor: #2a2a2a;
@lightGreyFontColor: #6e6e6e;
@borderGreyColor: #dfdfdf;
@blackColor: #000000;

@content-inner-width: 970px;
@main-margin: 20px;