/*
################################################################
# Footer 
################################################################
*/

.footer-container{
	width: @content-inner-width;
	height: 108px;
	
	p{
		color: @lightGreyFontColor;
		font-size: 1.2em;	
	}
	a{
		color: @lightGreyFontColor;
	}
	
	.footer-link{
		color: @darkGreyFontColor;
		font-size: 1.2em;
		font-weight: bold;
		text-decoration: none;
	}
	.footer-headline{
		color: @darkGreyFontColor;
		font-size: 1.2em;
		font-weight: bold;
	}
	
	.footer-copy{
		font-size: 1.2em;
	}
	
	.left-footer{
		clear: left;
		float: left;
		padding-top: 20px;
		padding-left: 20px;
		
		p{
			padding-top: 10px;
		}
	}
	.right-footer{
		float: right;
		padding-top: 10px;
		padding-right: 38px; 
		
		.warranty-text{
			width: 180px;
			float: left;
		}
		
		#warranty_image{
			margin-top: 20px;
			padding-left: 6px;
		}
	}
}
