/*
################################################################
# Header LESS-File overall for all pages 
################################################################
*/

.header{
	position: fixed;
	background-color: @whiteColor;
	width: @content-inner-width;
	height: 88px;
	z-index: 2;
	background-color: @whiteColor;
	margin-left: 0px;
		
	#header_logo{
		margin: @main-margin;	
		float: left;
		border: none;
	}
	
	.header-nav li{
		position: relative;
		text-decoration: none;
		font-size: 1.4em;
		color: @darkGreyFontColor;
		float: left;
		list-style: none;
		cursor: pointer;
		margin-left: 0px;
		margin-top: 10px;
		font-weight: bold;
		padding-left: 20px;
		padding-right: 34px;
		padding-top: 15px;
		padding-bottom: 15px; 
	}
	
	.arrow-icon{
		width:9px;
		height:9px;
		background-image: url(../../../img/core/arrow_icon_sprite.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		position: absolute;
		top:20px;
		right:20px;
	}
	
	.header-subnav-container{
		height: 0px;
		overflow: hidden;
		position: fixed;
		top: 65px;
		background-color: #FFF;
		border: 0px solid @borderGreyColor;	  
		padding: 0px;
		
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}
		
		ul li{
			margin: 10px;
			padding-right: 22px;
			border-right: 1px solid @borderGreyColor;
			float: left;
			height: 100%;
		}
		
		.subnav_last{
			border-right: 0px solid @borderGreyColor;
			padding-right: 0px;
		}
		.subnav-title{
			margin-top: 15px;
			color: @lightGreyFontColor;
			font-size: 1.6em;
			font-weight: bold;
		}
		
		.subnav-link{
			display: list-item;
			text-decoration: none;
			color: @darkGreyFontColor;
			font-size: 1.4em;
			margin-top: 10px;
			font-weight: bold;
			&:hover { 
				text-decoration: underline;
			}
		}
	}
}

/* hover class*/
.nav-hover { 
	background: #cecece;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#cecece'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#cecece)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eaeaea,  #cecece); /* for firefox 3.6+ */
}