/*
################################################################
# IE 8 corrections 
################################################################
*/

.header{
	margin-left: 10px;
}

.product-thumb-slider .product_thumb_hl_rect .product_thumb_hl_flag{
	top: -14px;
}

.header .header-nav li{
	margin-top: 10px;
}

.product-image{
	margin-left: 10px;	
}
.product-image-next{
	margin-left: 10px;	
}