/*
################################################################
# Product SLider LESS-File 
################################################################
*/

/* Product Slider & Info-Box*/
.product-slider-container{
	padding-top: 87px;
	width: @content-inner-width;
	height: 451px;
	background-color: @whiteColor;
	
	.product-image{
		width: 605px;
		height: 451px;
		float: left;
		overflow: hidden;
		position: absolute;
		display: none;
	}
	.product-info{
		width: 365px;
		height: 451px;
		background-color: @redColor;
		float: right;
		color: @whiteColor;
		overflow: hidden;
		
		.product-info-inner{
			padding:40px 35px 40px 35px;
		}
		
		.subline{
			width: 300px;
			margin: 0;
			padding: 0;
			font-size: 1.6em;
			font-weight: bold;
			border-bottom: 5px solid @lightRedColor;
		}
		.headline{
			width: 300px;
			margin: 0;
			padding: 0;
			padding-top: 20px;
			font-size: 6em;
			line-height: 50px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.price{
			width: 300px;
			margin: 0;
			padding: 0;
			padding-top: 13px;
			font-size: 2.4em;
			font-weight: bold;
		}
		p{
			width: 300px;
			padding-top: 0px;
			font-size: 1.4em;
		}
		.product-link{
			text-decoration: none;
			color: @whiteColor;
			font-size: 1.6em;
			font-weight: bold;
			padding-right: 13px;
			background: @redColor url(../../../img/core/product_link_icon.jpg);
			background-repeat: no-repeat;
			background-position: right;
			&:hover {
				text-decoration: underline; 
			}
		}
	}	
}
/* Product Slider & Info-Box*/
.product-thumb-slider{
	position: absolute;
	top: 522px;
	margin-left: 88px;
	height: 100px;
	width: 788px;
	border: 4px solid #cccccc;
	
	.product-thumb{
		float: left;
		border-right: 1px solid @borderGreyColor;
		cursor: pointer;
	}
	
	.product_thumb_hl_rect{
		position: absolute;
		border: 4px solid @darkGreyColor;
		width:  196px;
		height:  100px;
		top: -4px;
		left: -4px;
		.product_thumb_hl_flag{
			position: absolute;
			top:-14px;
			left: 88px;
			display: block;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid @darkGreyColor;
			overflow: hidden;
			position: absolute;	
		}
	}
}

.products{
	display: none;
}