/*
################################################################
# Product Range 
################################################################
*/

.product-range-container{
	padding-top: 130px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: @lightGreyColor;
		
	.product-range-left{
		width: 380px;
		float: left;
	}	
	
	.product-range-right{	
		min-height: 250px;
		padding-right: 20px;
		
		h1{
			padding-top: 10px;
			margin: 0;
			font-size: 2.2em;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		p{
			padding-top: 7px;
			margin: 0;
			font-size: 1.4em;
		}
		
		.primary-button{
			padding-top: 18px;
			color:@whiteColor;
			text-decoration: none;
			font-weight: bold;
			height: 42px;
			
			.button-left{
				background-image: url(../../../img/core/main_button_left_sprite.jpg);
				background-repeat: no-repeat;
				background-position:0 0;
				height: 42px;
				width: 17px;
				float: left;
			}
			.button-mid{
				background-image: url(../../../img/core/main_button_mid_sprite.jpg);
				background-position:0 0;
				height: 42px;
				float: left;
				
				.button-label{
					padding-top: 12px;	
					font-size: 1.4em;
				}
			}
			.button-right{
				background-image: url(../../../img/core/main_button_right_sprite.jpg);
				background-repeat: no-repeat;
				background-position:0 0;
				height: 42px;
				width: 36px;
				float: left;
			}
		}
		
	}
}